# DataFrames

### DataFrames are Pandas "tables" made up from columns and rows
* Each column of data in a DataFrame is a Pandas Series that shares tje same row index
* The column headers work as a column index that contains the Series names

### You can create a DataFrame from a Python dictionary or NumPy array by using the Pandas DataFrame() function

In [3]:
import numpy as np
import pandas as pd

In [4]:
''' 
It will be pretty unusual to create a DataFrame from a dictionary created in Python.
Typically you will load in a csv file or excel file.
This is just an example that DataFrames can be created many ways.
'''

pd.DataFrame(
    {"id": [1, 2],
     "store_nbr": [1, 2],
     "family": ["POULTRY", "PRODUCE"]
    }
)

   id  store_nbr   family
0   1          1  POULTRY
1   2          2  PRODUCE

## Create a DataFrame

In [15]:
oil = pd.read_csv(r'C:\Users\amorg\Documents\Maven NumPy and Pandas\maven_python_course\DataFrames\oil.csv')
oil

            date  dcoilwtico
0     2013-01-01         NaN
1     2013-01-02       93.14
2     2013-01-03       92.97
3     2013-01-04       93.12
4     2013-01-07       93.20
...          ...         ...
1213  2017-08-25       47.65
1214  2017-08-28       46.40
1215  2017-08-29       46.46
1216  2017-08-30       45.96
1217  2017-08-31       47.26

[1218 rows x 2 columns]

In [16]:
oil.shape # show the shape. 1218 rows and 2 columns

(1218, 2)

In [17]:
oil.index # shows the index

RangeIndex(start=0, stop=1218, step=1)

In [18]:
oil.columns # shows the column names

Index(['date', 'dcoilwtico'], dtype='object')

In [19]:
oil.axes # display the two axes which is colums and index

[RangeIndex(start=0, stop=1218, step=1),
 Index(['date', 'dcoilwtico'], dtype='object')]

In [20]:
oil.dtypes # datatypes of columns

date           object
dcoilwtico    float64
dtype: object