# Renaming Columns

In [19]:
import numpy as np
import pandas as pd

In [20]:
product_name = ['Dairy', 'Dairy', 'Dairy', 'Vegetables', 'Fruits']
product_price = [2.56, 2.56, 4.55, 2.74, 5.44]
product_df = pd.DataFrame({'product':product_name, 'price':product_price})
product_df

      product  price
0       Dairy   2.56
1       Dairy   2.56
2       Dairy   4.55
3  Vegetables   2.74
4      Fruits   5.44

### Rename columns in place via assignment using the "columns" property

In [21]:
product_df.columns = ["product_name", "cost"] # Simply assign a list with the new colum names using the columns property
product_df

  product_name  cost
0        Dairy  2.56
1        Dairy  2.56
2        Dairy  4.55
3   Vegetables  2.74
4       Fruits  5.44

In [22]:
# We can use a list comprehension to clean or standardize column titles using methods like .upper()
product_df.columns = [col.upper() for col in product_df.columns]
product_df

  PRODUCT_NAME  COST
0        Dairy  2.56
1        Dairy  2.56
2        Dairy  4.55
3   Vegetables  2.74
4       Fruits  5.44

## Rename Method .rename()

In [23]:
# Using a dictionary to map the new column names to the old names. Not inplace
product_df.rename(columns={"product": "product_name", "price": "cost"})
product_df

  PRODUCT_NAME  COST
0        Dairy  2.56
1        Dairy  2.56
2        Dairy  4.55
3   Vegetables  2.74
4       Fruits  5.44

In [24]:
# Use a lambda function to clean or standardize column titles using methods like .upper()
product_df.rename(columns=lambda x: x.upper())

  PRODUCT_NAME  COST
0        Dairy  2.56
1        Dairy  2.56
2        Dairy  4.55
3   Vegetables  2.74
4       Fruits  5.44

# Reordering columns

In [34]:
product_name = ['Dairy', 'Dairy', 'Dairy', 'Vegetables', 'Fruits']
product_price = [2.56, 2.56, 4.55, 2.74, 5.44]
product_id = [1, 2, 3, 4, 5]

product_df = pd.DataFrame({'product':product_name, 'price':product_price, 'product_id':product_id})
product_df

      product  price  product_id
0       Dairy   2.56           1
1       Dairy   2.56           2
2       Dairy   4.55           3
3  Vegetables   2.74           4
4      Fruits   5.44           5

### Reorder columns with the .reindex() method when sorting won't suffice

In [37]:
# Pass a list of the exisintg columns in their desired order, and specify axis=1 (column axis =1. row axis is 0)
product_df = product_df.reindex(labels=["product_id", "product", "price"], axis=1)
product_df

   product_id     product  price
0           1       Dairy   2.56
1           2       Dairy   2.56
2           3       Dairy   4.55
3           4  Vegetables   2.74
4           5      Fruits   5.44