# Filtering Series
* You can filter a Series by passing a logical test into the .loc[] accessor

In [1]:
import numpy as np
import pandas as pd

In [3]:
sales = [0, 5, 155, 0, 518]
items = ["coffee", "bananas", "tea", "coconut", "sugar"]

sales_series = pd.Series(sales, index=items, name="Sales")
sales_series

coffee       0
bananas      5
tea        155
coconut      0
sugar      518
Name: Sales, dtype: int64

### You can use these operators and methods to create Boolean filters for logical test
* Generally python operators are more readable and used. But pandas methods can be used.

In [4]:
description = ['Equal', 'Not equal', 'Less than equal', 'Less than', 'Greater than or equal', 'Greater than', 'Membership Test', 'Inverse membership test']
python_op = ['==', '!=', '<=', '<', '>=', '>', 'in', 'not in']
pandas_method = ['.eq()', '.ne()', '.le()', '.lt()', '.ge()', '.gt()', '.isin()', '~.isin()']

df = pd.DataFrame({'Description': description, 'Python Operator': python_op, 'Pandas Method': pandas_method})

df

               Description Python Operator Pandas Method
0                    Equal              ==         .eq()
1                Not equal              !=         .ne()
2          Less than equal              <=         .le()
3                Less than               <         .lt()
4    Greater than or equal              >=         .ge()
5             Greater than               >         .gt()
6          Membership Test              in       .isin()
7  Inverse membership test          not in      ~.isin()

##### Except for Membership tests. Python operators for 'in' and 'not in' will not for many operations, so Pandas method must be used.

In [5]:
sales_series.index.isin(['coffee', 'tea']) # standard boolean test

array([ True, False,  True, False, False])

In [6]:
~sales_series.index.isin(['coffee', 'tea']) # the tilde inverts the boolean values

array([False,  True, False,  True,  True])

### Examples

In [8]:
my_series = pd.Series(range(5), index=["Day 0", "Day 1", "Day 2", "Day 3", "Day 4"])

my_series

Day 0    0
Day 1    1
Day 2    2
Day 3    3
Day 4    4
dtype: int64

In [9]:
my_series == 2

Day 0    False
Day 1    False
Day 2     True
Day 3    False
Day 4    False
dtype: bool

In [10]:
my_series.loc[my_series == 2] # fliters out the boolean false results

Day 2    2
dtype: int64

In [11]:
my_series.loc[my_series != 2] # reverse result

Day 0    0
Day 1    1
Day 3    3
Day 4    4
dtype: int64

In [13]:
my_series.loc[my_series.isin([1, 2])] # finds out if the indexed values of my_series are in the passed list of [1, 2].
# In other words the values from the passed list exist in my series as 'Day 1  1' and 'Day 2  2'

Day 1    1
Day 2    2
dtype: int64

In [14]:
my_series.loc[~my_series.isin([1, 2])] # tilde inverts the bool values to we return all values that do not contain 1 or 2 from the passed list.

Day 0    0
Day 3    3
Day 4    4
dtype: int64