# Numeric Series Aggrigation

* Methods for performing aggrigation on numerical Series

In [2]:
import numpy as np
import pandas as pd

In [47]:
numeric_method = ['.count()', '.first(), .last()', '.mean(), .median()', '.min(), .max()', '.argmax(), .argmin()', 
          '.std(), .var()', '.mad()', '.prod()', '.sum()', '.quantile()']

numeric_description = ['Returns the number of items', 'Returns the first or last item', ' Calculates the mean or median', 
               'Returns the the smallest or largest value', 'Returns the index for the smallest or largest values',
                 'Calculates the standard deviation or variance', 'Calculates the mean absolute deviation',
               'Calculates the product of all the items', 'Calculates the sum of all the items', 'Returns a specified percentile, or list of percentiles']

pd.set_option('display.max_colwidth', None)
numeric_series_description = pd.DataFrame({'Method':numeric_method, 'Description':numeric_description})
numeric_series_description

,Method,Description
0,.count(),Returns the number of items
1,".first(), .last()",Returns the first or last item
2,".mean(), .median()",Calculates the mean or median
3,".min(), .max()",Returns the the smallest or largest value
4,".argmax(), .argmin()",Returns the index for the smallest or largest values
5,".std(), .var()",Calculates the standard deviation or variance
6,.mad(),Calculates the mean absolute deviation
7,.prod(),Calculates the product of all the items
8,.sum(),Calculates the sum of all the items
9,.quantile(),"Returns a specified percentile, or list of percentiles"

In [53]:
sales = [0, 5, 155, np.nan, 518]
items = ["coffee", "coffee", "tea", "coconut", "sugar"]

sales_series = pd.Series(sales, index=items, name="Sales")
sales_series

coffee       0.0
coffee       5.0
tea        155.0
coconut      NaN
sugar      518.0
Name: Sales, dtype: float64

In [25]:
sales_series.sum() # calc the sum

678.0

In [26]:
sales_series.loc["coffee"].sum() # sums all indexs with the value "coffee"

5.0

In [27]:
sales_series.quantile([0.25, 0.5, 0.75])

0.25      3.75
0.50     80.00
0.75    245.75
Name: Sales, dtype: float64

In [30]:
transactions = pd.read_csv(r"C:\Users\amorg\Documents\Maven NumPy and Pandas\maven_python_course\pandas_series\transactions.csv")
transactions_series = pd.Series(transactions["transactions"])
transactions_series.iloc[:5]

0     770
1    2111
2    2358
3    3487
4    1922
Name: transactions, dtype: int64

In [41]:
print(f"Transaction Count: {transactions_series.count()}")
print(f"Sum of all transactions: {transactions_series.sum()}")
print(f"Mean of all transactions: {transactions_series.mean()}")
print(f"""Quantiles of transactions: {transactions_series.iloc[:5].quantile([.5], interpolation="nearest")}""")

Transaction Count: 83488
Sum of all transactions: 141478945
Mean of all transactions: 1694.6021583940208
Quantiles of transactions: 0.5    2111
Name: transactions, dtype: int64

# Categorical Series Aggregation
* You can use these methods to aggregate and analyze catagorical Series
* These methods tend to work best on text based values but can be used on numeric series also

In [46]:
catagorical_method = ['.unique()', '.nunique()', '.value_counts()']

catagorical_descriptions = ['Returns an array of unique items in a Series', 'Returns the number of unique items in a Series', 
                            'Returns a Series of unique items and their frequency']

pd.set_option('display.max_colwidth', None)
categorical_series = pd.DataFrame({'Methods':catagorical_method, 'Description':catagorical_descriptions})
categorical_series

           Methods                                           Description
0        .unique()          Returns an array of unique items in a Series
1       .nunique()        Returns the number of unique items in a Series
2  .value_counts()  Returns a Series of unique items and their frequency

In [48]:
sales_series # data being used here

coffee       0.0
coffee       5.0
tea        155.0
coconut      NaN
sugar      518.0
Name: Sales, dtype: float64

In [66]:
sales_items = pd.Series(items)
sales_items

0     coffee
1     coffee
2        tea
3    coconut
4      sugar
dtype: object

In [67]:
sales_items.value_counts()

coffee     2
tea        1
coconut    1
sugar      1
Name: count, dtype: int64

In [68]:
sales_items.value_counts(normalize=True)

coffee     0.4
tea        0.2
coconut    0.2
sugar      0.2
Name: proportion, dtype: float64

In [69]:
sales_items.unique()

array(['coffee', 'tea', 'coconut', 'sugar'], dtype=object)

In [70]:
sales_items.nunique()

4

### Examples

In [75]:
string_series = pd.Series(['day 0', 'day 0', 'day 2', 'day 2', 'day 4'])
string_series

0    day 0
1    day 0
2    day 2
3    day 2
4    day 4
dtype: object

In [76]:
string_series.nunique()

3

In [77]:
string_series.unique()

array(['day 0', 'day 2', 'day 4'], dtype=object)

In [80]:
string_series.value_counts(normalize=True) # including this argument returns each value as percentage of how often it occurs in a Series

day 0    0.4
day 2    0.4
day 4    0.2
Name: proportion, dtype: float64

In [ ]:
string_series.value_counts()