# The Where Method

* Pandas .where() method returns series values based on a logical condition

In [1]:
import numpy as np
import pandas as pd

In [ ]:
df.where(logical test,  # logical test that valueates to True or False
         value if False,# Value to return when the expresion is False
         inplace=False) # Whether to perform the operation in place. Defualt option is False

In [2]:
clean_wholesale = pd.Series([3.99, 5.99, 22.99, 7.99, 33.99])
clean_wholesale

0     3.99
1     5.99
2    22.99
3     7.99
4    33.99
dtype: float64

In [3]:
clean_wholesale.where(clean_wholesale <= 20, round(clean_wholesale * 0.9, 2))

0     3.99
1     5.99
2    20.69
3     7.99
4    30.59
dtype: float64

In [4]:
(clean_wholesale
 .where(clean_wholesale <= 20, round(clean_wholesale * 0.9, 2))
 .where(clean_wholesale > 10, 0)
)

0     0.00
1     0.00
2    20.69
3     0.00
4    30.59
dtype: float64

### NumPy's where function is often more convenient & useful than Pandas' method

In [5]:
clean_wholesale

0     3.99
1     5.99
2    22.99
3     7.99
4    33.99
dtype: float64

In [10]:
series = np.where(clean_wholesale > 20, 'Discounted', 'Normal Price')
pd.Series(series) # numpy .where() converts into an array and must be reconverted into a Series

0    Normal Price
1    Normal Price
2      Discounted
3    Normal Price
4      Discounted
dtype: object

## Examples

In [11]:
string_series = pd.Series(['day 0', 'day 1', 'day 2', 'day 3', 'day 4',])
string_series

0    day 0
1    day 1
2    day 2
3    day 3
4    day 4
dtype: object

In [12]:
string_series.apply(lambda x: x[-1])

0    0
1    1
2    2
3    3
4    4
dtype: object

In [13]:
string_series = string_series.str[-1]

In [14]:
def search(string, looking_for):
    if looking_for is string:
        return "Found it!"
    return "Nope"

In [15]:
string_series.apply(search, args='2')

0         Nope
1         Nope
2    Found it!
3         Nope
4         Nope
dtype: object

In [19]:
string_series.where(string_series.str.contains('2'), 'Nope!').where(
    ~string_series.str.contains('2'), 'Fount it!'
)

0        Nope!
1        Nope!
2    Fount it!
3        Nope!
4        Nope!
dtype: object

In [22]:
pd.Series(np.where(string_series.str.contains('2'), 'found it', 'nope')) # converting into Series

0        nope
1        nope
2    found it
3        nope
4        nope
dtype: object